




html,body{
	background-color: #e5e8e6;
	height: 100%;
	margin: 0;
	overflow-y: hidden;
	overflow-x: hidden;
}

/* ---------- LOOK / FEEL ---------- */
.box-font{
	color: #2a3f5f;
    font-size: 13px;
}
/* Labels for tab 2 and 3*/
.analysis-sats-label-dropdown{
	font-family: proxima-nova, sans-serif;
	color: #2a3f5f;
	font-size: 12px;
	letter-spacing: 0.3px;
}
.analysis-sats-label{ /********************/
	color: #2a3f5f;
    font-size: 17px;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    letter-spacing: 1px;
}
/* Labels for radio buttons*/
.analysis-sat-radio-label{
	padding-left: 17px;
    font-family: proxima-nova, sans-serif;
    font-weight: 300;
    color: #2a3f5f;
    font-size: 14px;
}
/* div background */
.analysis-arch-select{ 
	background-color: white;
    margin-right: 6px;
    overflow-y: auto;
	height: 88vh;
	border-right: 2px solid #c8d4e3;
}
.analysis-sats-left-div{ /********************/
	background-color: white;
    margin-right: -1px;
    margin-top: 6px;
    margin-left: 6px;
    margin-bottom: 6px;
    overflow-y: auto;
    border-left: 2px solid #c8d4e3;
    border-top: 2px solid #c8d4e3;
    border-bottom: 2px solid #c8d4e3;
	border-radius: 3px;
	height: 30vh;
    padding-left: 20px;
}
.analysis-sats-right-div{ /********************/
	background-color: white;
    margin-right: 40px;
    margin-top: 6px;
    margin-left: -1px;
    margin-bottom: 6px;
    overflow-y: auto;
    border-right: 2px solid #c8d4e3;
    border-top: 2px solid #c8d4e3;
    border-bottom: 2px solid #c8d4e3;
	border-radius: 3px;
	height: 30vh;
    padding-bottom: 5px;
}
.analysis-heatmap-view{ /********************/
	height: 450px;
	background-color: white;
    margin-right: -1px;
    margin-left: 6px;
    margin-bottom: 6px;
    overflow-y: hidden;

    border-left: 2px solid #c8d4e3;
    border-top: 2px solid #c8d4e3;
    border-bottom: 2px solid #c8d4e3;

	border-radius: 3px;
}
.analysis-heatmap-interface{
	height: 450px;
	background-color: white;
    margin-right: 40px;
    margin-left: -1px;
    margin-bottom: 6px;
    overflow-y: auto;

    border-right: 2px solid #c8d4e3;
    border-top: 2px solid #c8d4e3;
    border-bottom: 2px solid #c8d4e3;
	
	border-radius: 3px;
}
.interface-font-lg-sm{
	color: #2a3f5f;
    font-size: 18px;
    font-weight: 600;
}
.interface-font-sm{
	color: #2a3f5f;
    font-size: 15px;
    font-weight: 400;
}
.interface-font-lg {
    color: #2a3f5f;
    font-size: 19px;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    letter-spacing: 0.3px;
}
.overview-dropdown-sublabel{
	color: #2a3f5f;
    font-size: 15px;
    font-family: proxima-nova, sans-serif;
    font-weight: 400;
    letter-spacing: 0.5px;
}



.loading-heatmap{
}
.dash-default-spinner{
	margin-top: 200px !important;
}
/* ---------- LOOK / FEEL ---------- */














/* ---------- ARCHITECTURE ANALYSIS PAGE ---------- */
.outter-container{
	height: 88vh;
}


.analysis-row{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
    height: 100%;
}

.analysis-column-right{
	padding-top: 20px;
	overflow-y: auto;
	height: 88vh;
}










.analysis-column-left{
	display: flex;
    flex-direction: column;
    height: 88vh;
    padding-left: 0px;
}




.architecture-radio-form{
	padding-top: 15px;
}








.satellite-card-class{
	flex: 0 0 auto;
	margin-right: 6px;
}




.analysis-architecture-details-row{
	padding-bottom: 35px;
}








.analysis-sats-left-inner-div{
	height: 100%;
	overflow-y: scroll;
	border-right: 2px solid #c8d4e3;
}





















.analysis-sat-radio-class{
	text-align: left;
	padding-left: 10%;
}






.analysis-sat-info-display-class{
	padding: 10px;

}












.flex-row{
	display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}
.flex-column{
	display: flex;
    flex-direction: column;
}



.compare-heatmap-row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 15px;
}


.analysis-heatmap-row{
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display:         flex;
    flex-wrap: wrap;
}


.analysis-heatmap-column-left{
	display: flex;
    flex-direction: column;
}



.analysis-heatmap-column-right{
	display: flex;
    flex-direction: column;
}











/* ---------- ARCHITECTURE ANALYSIS PAGE ---------- */

















/* ---------- NEW OVERVIEW PAGE ---------- */
.nav-tabs .nav-item .nav-link.active {
  background-color: #e5e8e6;
  border-color:  #e5e8e6;
}






/* These classes are for the overview chart interface */

.checklist-format{
	padding-left: 20px;
	padding-right: 20px;
}

.radio-format{
	padding-left: 20px;
}

.specify-axis-format{
	padding-left: 20px;
	padding-right: 20px;
}

.interface-submit-format{
	margin-left: 20px;
	margin-right: 20px;
}



.cost-objectives-format{
	padding-top: 15px;
}
.orbital-objectives-format{
	padding-top: 5px;
}
.instrument-objectives-format{
	padding-top: 5px;
}
.value-objectives-format{
	padding-top: 5px;
}

.data-points-format{
	padding-top: 5px;
}

.specify-axis-format-outer{
	padding-top: 15px;
}

.marker-type-format{
	padding-top: 5px;
}




.label-margin-top{
	margin-bottom: 10px;
	margin-top: 10px;
}
.label-margin{
	margin-bottom: 10px;
	margin-top: 5px;
}

.label-margin-analysis{
	margin-bottom: 10px;
	margin-top: 5px;
}

























.interface-satellite-font-sm{
	color: white;
    font-size: 15px;
    font-weight: 340;
}







.navbar{
	margin-bottom: 0px !important;
	height: 7vh;
}




/* ---------- NEW OVERVIEW PAGE ---------- */

.content-fixed{
	height: 88vh;
}









/* ---------- OVERVIEW PAGE LAYOUT START  ---------- */
.overview-chart-layout{
	height: 450px;
	overflow-y: hidden;
	background-color: white;
    margin-right: 6px;
    margin-top: 40px;
    margin-left: 40px;
    margin-bottom: 6px;
    overflow-x: hidden;
    border: 2px solid #c8d4e3;
	border-radius: 3px;
}

.overview-table-layout{
	background-color: white;
	margin-right: 6px;
    margin-top: 6px;
    margin-left: 40px;
    margin-bottom: 6px;
    overflow-x: auto;
    border: 2px solid #c8d4e3;
	border-radius: 3px;
	height: 450px;
}

.overview-chart-interface-layout-1{
	background-color: white;
    margin-right: 40px;
    margin-top: 40px;
    margin-left: 6px;
    margin-bottom: 6px;
    border: 2px solid #c8d4e3;
	border-radius: 3px;
}

.overview-chart-interface-layout-2{
	background-color: white;
    margin-right: 40px;
    margin-top: 6px;
    margin-left: 6px;
    margin-bottom: 6px;
    border: 2px solid #c8d4e3;
	border-radius: 3px;
}


.overview-chart-interface-column{
/*	overflow-y: auto;
    max-height: 84vh;
    overflow-x: hidden;*/
}


.navbar-nasa-image{
	margin-left: 20px;
}


/* ---------- OVERVIEW PAGE LAYOUT END ---------- */












/* ---------- OVERVIEW PAGE ---------- */
.btn-header{
	border-radius: 0px;
}

 

 /* CONTAINERS */

.top-container{

}

.bottom-container{
	margin-right: 50px;
	margin-left: 50px;
}





 /* COLUMNS */


.col-header-format{
	height: 8vh;
	background-color: #2a3f5f;
	padding-left: 10px;
	padding-top: 5px;
}

.col-header{
	padding-left: 0px;
	padding-right: 0px;
	margin-bottom: 0px;
}




.col-top-left{
	padding-right: 0px;
	padding-left: 0px;
}

.col-top-middle{
	padding-left: 0px;
	padding-right: 0px;
}

.col-top-right{
	padding-left: 0px;
	padding-right: 0px;
}






.col-mid-left{
	padding-right: 3px;
	padding-left: 0px;
	padding-top: 8px;
	padding-bottom: 8px;
}

.col-mid-left-format{
	border: 1px solid #c8d4e3;
	border-radius: 3px;
	overflow-x: hidden;
	background-color: white;
}



.col-mid-right{
	padding-left: 3px;
	padding-right: 0px;
	padding-top: 8px;
}

.col-mid-right-format{
	border: 1px solid #c8d4e3;
	border-radius: 3px;
	background-color: white;
	padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
}



.col-bottom-left{
	padding-right: 3px;
	padding-left: 0px;
	height: 20vh;
	background-clip: content-box;
	
}
.col-bottom-left-format{
	background-color: white;
	height: 100%;
	border: 1px solid #c8d4e3;
	border-radius: 3px;
}



.col-bottom-right{
	padding-left: 3px;
	padding-right: 0px;
}



.overview-interface-inline{
	display: inline-block;
	width: 100%;
	padding-top: 5px;
}



.overview-page-container{
	height: 88vh;
    overflow-y: auto;
    overflow-x: hidden;
}


 /* OTHER CSS */

 .btn:focus {
  outline: none !important;
}


.app-title{
	color: white;
    font-size: 2.4rem;
    vertical-align: middle;
}










